@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap");

* {
  font-family: "Merriweather", serif !important;
  font-weight: 300;
}

body {
  background-color: #f3eded;
  .menu {
    width: 100%;
    align-items: center;
    .menu-logo {
      display: flex;
      justify-content: center;
      img {
        max-width: 150px;
        margin-bottom: 2rem;
      }
    }
    .menu-bar {
      .menu-element {
        text-align: center;
        .menu-element-a {
          color: black;
          text-underline-offset: 7px;
          text-decoration-thickness: 2px;
        }
      }
    }
  }
}

footer {
  background-color: #514e4e;
  align-items: center;
  color: #fff;
  .footer {
    margin: 0 auto;
    .footer-logo {
      img {
        max-width: 150px;
      }
    }
    .footer-element-1 {
      gap: 10px;
      svg {
        max-width: 25px;
        fill: white;
      }
    }
    .footer-element {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media all and (max-width: 600px) {
  .container {
    .menu {
      flex-direction: column;
      gap: 0;
      margin-bottom: 2rem;
      .menu-logo {
        max-width: 140px;
      }
      .menu-bar {
        margin-bottom: 0;
      }

      .menu-element-a {
        font-size: 0.85rem;
      }
    }
    .main-title {
      margin-top: 3rem;
    }

    .footer-element {
      .footer-logo {
        max-width: 100px;
      }
    }
  }
}

.main-subtitle {
  letter-spacing: 1rem;
  font-weight: 600;
}

.main-title {
  text-align: center;
  letter-spacing: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

div {
  img {
    max-width: 100%;
  }
}

p {
  text-align: center;
}

b {
  font-weight: bold;
}

.flex-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

img {
  width: 80%;
}

.btm-1 {
  margin-bottom: 1rem;
}
.btm-2 {
  margin-bottom: 2rem;
}
.btm-3 {
  margin-bottom: 3rem;
}

.width-50 {
  max-width: 50%;
}

.width-80 {
  max-width: 80%;
}

@media all and (max-width: 420px) {
  .d-flex {
    flex-wrap: wrap;
  }
}
