.text-section {
  padding: 4rem 0;
  width: 80%;
  margin: 0 auto;
  p {
    text-align: center;
  }
}

.img-section {
  margin: 0 auto;
  padding-bottom: 10rem;

  figure {
    margin: 0 auto;
    max-width: 100%;
    img {
      border-radius: 5%;
      box-shadow: 8px 20px 24px 0px rgba(172, 157, 157, 1);
      max-width: 100%;
    }

    figcaption {
      text-align: center;
    }
  }
}

@media all and (max-width: 600px) {
  .img-section {
    padding-bottom: 5rem;
  }
}
