.texts-ślub {
  margin-bottom: 2rem;
  text-align: center;
  .text {
    margin-bottom: 2rem;
  }
  .img-us {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    img {
      max-width: 100%;
    }
  }

  .menu-wedding {
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
}
