.mrt {
  p {
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 600;
  }
  .mrt-textes {
    text-align: center;
    .mrt-text {
      margin-bottom: 1rem;
    }

    .image-mrt-map {
      margin-bottom: 2rem;
    }
    .image-mrt-rules {
      display: flex;
      justify-content: center;
      margin: 2.5rem 0 3.5rem;
    }

    .image-mrt-queuing {
      img {
        margin-bottom: 3rem;
      }
    }
  }
}

.facts-section {
  .facts {
    text-align: center;
    list-style-position: inside;
    li {
      margin-bottom: 1rem;
    }
  }
}

@media all and (max-width: 600px) {
}
