.mrt {
  p {
    text-align: center;
  }
  .mrt-textes {
    text-align: center;
    .mrt-text {
      margin-bottom: 1rem;
    }

    .image-mrt-rules {
      display: flex;
      justify-content: center;
      margin: 2.5rem 0 3.5rem;
      img {
        max-width: 100%;
        border-radius: 25px;
        box-shadow: 8px 20px 24px 0px rgba(172, 157, 157, 1);
      }
    }
  }
}
